<div
  id="bdm-sticky-atc"
  aria-hidden="true"
  data-sticky-atc
>
  <div class="bdm-inner">
    <div class="bdm-left">
      <div id="bdm-title"></div>
      <div id="bdm-price"></div>
    </div>

    <div class="bdm-right">
      <select id="bdm-variant"></select>

      <input
        id="bdm-qty"
        type="number"
        min="1"
        value="1"
      />

      <button
        id="bdm-atc"
        data-bdm-atc
        type="button"
      >
        {{ settings.button_text }}
      </button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
<script src="{{ 'sticky-atc-bar.js' | asset_url }}" defer></script>

<script>
  window.BDM_STICKY_ATC_CONFIG = {
    buttonText: {{ settings.button_text | json }},
    backgroundColor: {{ settings.background_color | json }},
    textColor: {{ settings.text_color | json }},
    buttonColor: {{ settings.button_color | json }},
    enableDesktop: {{ settings.enable_desktop | json }},
    enableMobile: {{ settings.enable_mobile | json }},
    showQuantity: {{ settings.show_quantity | json }},
    showVariants: {{ settings.show_variants | json }},
    showSubscription: {{ settings.show_subscription | json }}
  };
</script>

{% schema %}
{
  "name": "Sticky Add To Cart Bar",
  "target": "body",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Add to cart"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop",
      "label": "Enable on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_mobile",
      "label": "Enable on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_variants",
      "label": "Show variant selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_subscription",
      "label": "Show subscription selector",
      "default": true
    }
  ]
}
{% endschema %}
