<div
  id="bdm-sticky-atc"
  class="bdm-sticky-atc"
  aria-hidden="true"

  data-bdm-sticky-atc
  data-enable-desktop="{{ settings.show_on_desktop }}"
  data-enable-mobile="{{ settings.show_on_mobile }}"
  data-show-on-scroll="{{ settings.show_on_scroll }}"
  data-scroll-offset="{{ settings.scroll_offset }}"

  data-show-title="{{ settings.show_product_title }}"
  data-show-price="{{ settings.show_price }}"
  data-show-qty="{{ settings.show_quantity_selector }}"
  data-show-variant="{{ settings.show_variant_selector }}"

  style="
    --bdm-bg: {{ settings.bar_background_color }};
    --bdm-text: {{ settings.text_color }};
    --bdm-font-size: {{ settings.font_size }}px;
    --bdm-radius: {{ settings.bar_radius }}px;

    --bdm-button-bg: {{ settings.button_background_color }};
    --bdm-button-text: {{ settings.button_text_color }};
    --bdm-button-radius: {{ settings.button_radius }}px;
  "
>
  <div class="bdm-inner">
    <div class="bdm-left">
      {% if settings.show_product_title %}
        <div id="bdm-title"></div>
      {% endif %}
      {% if settings.show_price %}
        <div id="bdm-price"></div>
      {% endif %}
    </div>

    <div class="bdm-right">
      {% if settings.show_quantity_selector %}
        <input id="bdm-qty" type="number" min="1" value="1" />
      {% endif %}

      <button
        id="bdm-atc"
        class="bdm-button bdm-button--{{ settings.button_style | downcase }} {{ settings.button_size }}"
        type="button"
      >
        {{ settings.button_text }}
      </button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
<script src="{{ 'sticky-atc-bar.js' | asset_url }}" defer></script>
