{% if request.page_type == 'product' %}

<div
  id="bdm-sticky-atc"
  class="bdm-sticky-atc"
  aria-hidden="true"
  data-product-page="true"

  style="
    --bdm-bg: {{ settings.background_color }};
    --bdm-text: {{ settings.text_color }};
    --bdm-font-size: {{ settings.font_size }}px;
    --bdm-button-bg: {{ settings.button_background_color }};
    --bdm-button-text: {{ settings.button_text_color }};
  "
>
  <div class="bdm-inner">
    <div class="bdm-left">
      {% if settings.show_product_title %}
        <div id="bdm-title"></div>
      {% endif %}

      {% if settings.show_price %}
        <div id="bdm-price"></div>
      {% endif %}
    </div>

    <div class="bdm-right">
      {% if settings.show_quantity_selector %}
        <input id="bdm-qty" type="number" min="1" value="1" />
      {% endif %}

      <button
        id="bdm-atc"
        type="button"
        class="
          bdm-button
          bdm-button--{{ settings.button_style }}
          {{ settings.button_size }}
        "
      >
        {{ settings.button_text }}
      </button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
<script src="{{ 'sticky-atc-bar.js' | asset_url }}" defer></script>

{% endif %}
